body {
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
}

.sidebar li.active a {
  font-weight: bold;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

/*.container {*/
/*  max-width: 600px;*/
/*  margin: 0 auto;*/
/*  background-color: #fff;*/
/*  border-radius: 5px;*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
/*  padding: 20px;*/
/*}*/

/*form {*/
/*  display: grid;*/
/*  gap: 10px;*/
/*}*/

/*.form-group {*/
/*  display: grid;*/
/*}*/

/*label {*/
/*  font-weight: bold;*/
/*}*/

/*input, textarea {*/
/*  width: 100%;*/
/*  padding: 5px;*/
/*  font-size: 16px;*/
/*}*/

/*button {*/
/*  padding: 10px;*/
/*  font-size: 16px;*/
/*  background-color: #4CAF50;*/
/*  color: #fff;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*}*/

/*button:hover {*/
/*  background-color: #45a049;*/
/*}*/

.add-item-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.add-item-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-item-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-container input,
.add-item-container textarea,
.add-item-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-item-container textarea {
  resize: vertical;
  height: 100px;
}

.add-item-container button {
  background-color: #f90;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-item-container button:hover {
  background-color: #e6801b;
}

@media (max-width: 767px) {
  .add-item-container {
    max-width: 90%;
  }
}

