<div class="about" id="About">
    <div class="about_main">
        <div class="image">
            <img src="image/Food-Plate.png" />
        </div>

        <div class="about_text">
            <h1><span>About</span>Us</h1>
            <h3>Why Choose us?</h3>
            <p>
                we are passionate about connecting people with delicious meals from their favorite local restaurants. <br>
                With our user-friendly platform and dedicated team, we strive to provide a seamless and convenient food<br>
                delivery experience for our valued customers.
            </p>
            </p>
        </div>
    </div>
</div>
</html>