
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/css/pom.css}">
</head>
<body>
<div class="wrapper">
  <div class="headline">
    <h1>Welcome. We exist to make consignment easier.</h1>
  </div>
  <form class="form" th:action="@{/login}" th:method="@{post}">

    <div class="signin">
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" required="">
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" required="">
      </div>
      <div class="forget-password">
        <div class="check-box">
          <input type="checkbox" id="checkbox">
          <label for="checkbox">Remember me</label>
        </div>
        <a href="#">Forget password?</a>
      </div>
      <button type="submit" class="btn">LOGIN</button>
      <div class="account-exist">
        Create New an account? <a href="/register" id="signup">Signup</a>
      </div>
    </div>
  </form>
</div>

</div>

<!--<script th:src="@{/js/log.js}"></script>-->
</body>
</html>

