/* styles.css */
#review-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display:block;
    margin-bottom: 6px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 25px;

    background-color: #af7d4c;
    color: white;
    border: none;
    cursor: pointer;
}

#reviews-container {
    border-top:1px solid #ccc;
    padding-top:24px;
}

.review {
    margin-bottom:10px;
    padding: 10px;
    background-color: #f9f9f9;
}

#average-rating {
    margin-top: 25px;
    font-weight: bold;
}

.rating-stars {
    display: flex;
    align-items: center;
}

.star {
    cursor: pointer;
    font-size: 25px;
}

.highlight {
    color: gold;
}
